@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.displaynone{
    display: none !important;
}

#countdown{
    position: absolute;
    transform: translateY(-60vh);
    color: #fff;
    font-size: 48px;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.title{
    transform: translateX(-10rem);
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}